:root{
    --cor-de-fundo:#a2e4e9;
    --verde: #195742;
    --branco: #075055;
    --botao-ativo: #000000;
    --botao-inativo: rgb(245, 249, 255);
    --texto-fundo: rgba(2, 3, 3, 0.774);
}

*{
  background-color: var(--cor-de-fundo);
  color: var(--branco);
}

.conteudo-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}

.titulo-principal{
  text-align: center;
  width: 100%;
  font-size: 32px;
}
.botoes{
  display: block;

}
.botao{
  background-color: var(--botao-inativo);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18pxp;
  padding: 1em;
border-bottom: 4px solid var(--botao-ativo);
border-left: 2px solid var(--botao-ativo);
border-right: 2px solid var(--botao-ativo);
}
.botao:first-child{
  border-radius: 20px 20px 0 0;
}

.botao:last-child{
  border-radius: 0px 0px 20px 20px;
}
@media screen and (min-width: 700px){
.botoes{
  display: flex;
 }
 .botao:first-child{
   border-radius: 20px 0px 0px 20px;
 }
 .botao:last-child{
   border-radius: 0px 20px 20px 0px;
 }
}
